@page "/"
@inject Data.DialogService dlg

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<button class="btn btn-primary" @onclick="ShowBusy">Zeige BusyDialog für 3 Sekunden an</button>
<button class="btn btn-primary" @onclick="Quest">Frage</button>

@code {

    private async void ShowBusy()
    {
        dlg.BusyDialog.Show();
        await Task.Delay(3000);
        dlg.BusyDialog.Hide();
    }

    private async void Quest()
    {
        var yes = await dlg.QuestionDialog.ShowAsync("Rockt Blazor?");
        if (yes)
        {
            await dlg.MessageDialog.ShowAsync("Und wie!");
        }
        else
        {
            await dlg.MessageDialog.ShowAsync("naja");
        }
    }
}